body {
    font-family: "Roboto Serif", serif;
    font-family: "Rubik", sans-serif;
    padding: 0 20px;
  }
  .container {
    background: rgb(156, 205, 235);
    margin: 0 auto;
    margin-top: 60px;
  }
  .row {
    margin: 0 auto;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 24px;
  }
  h1 {
    color: darkblue;
    text-align: left;
    font-weight: 900;
    font-size: 34px;
    line-height: 48px;
    margin-left: -15px;
    padding: 15px;
  }
  h2 {
    font-weight: bold;
  }
  form {
    position: fixed;
  }
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}
.weather-forecast-date {
  font-size: 20px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperatures {
font-size: 16px;
}